* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: "purple";
}

body img {

    max-width: 100%;
}

.TITULO {
    background-color: aquamarine;
    text-align: center;
    color: white;

}

.TITULO h1 {
    background-color: aquamarine;
    text-align: center;
    color: white;
    font-size: 60PX;

}




/* --- estilos del menu */

.navbar li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-size: 30px;

}

.selected {
    font-weight: bold;
    border-bottom: solid rgb(255, 217, 15);
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    justify-content: right;
}

.navbar ul {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
}

/* estilos animacion */

body {
    margin: 0;
}

.cuadrito {
    width: 600px;
    height: 400px;
    background-color: blue;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    box-sizing: initial;
}

.cuadrito img {
    width: 600px;
    height: 400px;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}